.table {
    margin-left: 50px;
    margin-top: 30px;
}

.thead {
    background-color: #000080;
    color: #FFFFFF;
}

#blackHref {
    color: #000000;
    text-decoration: underline;
}

#completeButton {
    padding: 0.3rem
}