#create-heading {
    margin-top: 3.0rem;
    margin-bottom: 2.0rem;
}

#create-form {
    width: 20.0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form {
    display: block;
    text-align: center;
}

.form-control {
    margin-bottom: 1.0rem;
}

#submit {
    width:200px;
    background-color: #000080;
    padding: 0.3rem;
}

