.navbar{
    background-color:#3700FF !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.nav-heading {
    margin-left: 20px;
    font-family: "Fira Mono",monospace;
}

.settings {
    color: #FFFFFF !important;
    font-size: 1.0rem !important; 
}