/* Globals */
a,a:focus,a:hover{color:#fff;}
html,body{height:100%;background-color:#F4F4FC;}
body{text-align:center;}
.hide{display:none;}
.landing-heading{font-family:'Fira Mono',monospace;}

/* Buttons */
.btn{font-family:'Source Code Pro',monospace;padding:0.5625rem 2.5rem;font-size:0.8125rem;font-weight:400;line-height:1.75rem;border-radius:0!important;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn-lg{font-size:0.875rem;padding:0.6875rem 3.4375rem;line-height:1.75rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{background-color:#000080;border:1px solid #000080;border-radius:30px !important}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;border:1px solid #270F34;background-color:#270F34;}

/* Avatar */
.avatar{width:100px;height:100px;} 
.avatar-section{margin-bottom:25px;}

/* Scaffolding */
.site-wrapper{display:table;width:100%;height:90% !important;min-height:90vh !important;}
.site-wrapper-inner{display:flex;flex-direction:column;justify-content:center;margin-right:auto;margin-left:auto;width:100%;height:90%;}
.panel-authed{padding:0 0 0 0;}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

/* Input */
input, textarea{color:#000;}
input, textarea{color:#000;}
